<div class="container">
  <div class="loading" *ngIf="isLoading">loading..</div>
  <div>
    <h3>Currency Calculator</h3>
    <input [(ngModel)]="fromAmount" type="number" name="num1" class="currency-input" (ngModelChange)="calcFromUSD()">
    <select type="number" [(ngModel)]="fromCurrency" disabled>
      <option *ngFor="let code of currencyCodes" [ngValue]="code">{{code}}</option>
    </select>
    <div class="arrow">=</div>
    <input [(ngModel)]="toAmount" type="number" name="num2" class="currency-input" (ngModelChange)="calcToUSD()">
    <select type="number" [(ngModel)]="toCurrency" (ngModelChange)="calcToUSD()">
      <option *ngFor="let code of currencyCodes" [ngValue]="code">{{code}}</option>
    </select>
  </div>
</div>
